<ion-content class="bg-gray">
  <div class="flex flex-col justify-center items-center h-full">
    <!-- Redirection vers la page des annonces non valides -->
    <div><ion-button class="custom-button" routerLink="/ads">Annonce non Valide</ion-button></div>
    <!-- Redirection vers la page des annonces valides -->
    <div><ion-button class="custom-button" routerLink="/valid_ads">Annonce Valide</ion-button></div>
    <!-- Redirection vers la page des voitures vendues -->
    <div><ion-button class="custom-button" routerLink="/voiture_vendu">Voiture vendu</ion-button></div>
  </div>
</ion-content>

